{% extends "layout.html" %}

{% block title %}Inventory Detail{% endblock %}

{% block content %}
<a href="{% url 'inventory' %}">&larr; Back to Inventory</a>
<h2>{{ item.name }}</h2>

<ul class="list-group mt-3">
    <li class="list-group-item"><strong>Stock:</strong> {{ item.stock }}</li>
    <li class="list-group-item"><strong>Description:</strong> {{ item.description }}</li>
    <li class="list-group-item"><strong>Note:</strong> {{ item.note }}</li>
    <li class="list-group-item"><strong>Supplier:</strong> {{ item.supplier }}</li>
    <li class="list-group-item"><strong>Availability:</strong> {{ item.availability|yesno:"Available,Unavailable" }}
    </li>
</ul>
{% endblock %}